@charset "utf-8";
/*
*--------------------------------------------*
|                   Input                    |
*--------------------------------------------*
*/
.input-box { display: flex; justify-content: space-between; align-items: center; gap: 7px;}
.input-box .k-textbox { width: 100%;}
.input-box { display: flex; justify-content: space-between; align-items: center;}
.input-box2 .info-txt { display: inline-block; margin-top: 0; margin-left: 21.5px;}
.input-box2 .info-txt span { width: auto; vertical-align: middle;}
.input-box2 .info-txt .icon { margin-right: 5px;}
.input-box2 span.txt { width: 25.2px;}
.input-box2 span.txt,
.input-box span.txt { display: inline-block; flex-shrink: 0; margin-left: 7px; font-size: 14px; font-weight: normal; color: #404040; line-height: 35px; letter-spacing: -0.02em; vertical-align: middle;}
.input-box .k-textbox { width: 100%;}
.input-box .btn_input { display: inline-block; margin-left: 7px; padding: 8px 16px; border: 1px solid #D1D1D1; border-radius: 3px; background: #FFFFFF; font-family: 'Spoqa Han Sans Neo', sans-serif; font-size: 13px; font-weight: 500; color: #404040; line-height: 17px; letter-spacing: -0.04em; white-space: nowrap;}
.input-box .btn_input:hover { border: 1px solid #4549AB; color: #4549AB;}
.input-box .btn_input:disabled { background: #F8F8F8; color: #8E8E8E;}
.input-box .btn_input:focus { border: 1px solid #555555; color: #404040;}
.inputs-wrap { display: flex;}
.inputs-wrap li { display: flex; align-items: center; gap: 7px; width: 100%; padding-left: 10px;}
.inputs-wrap li:first-child { padding-left: 0;}
.inputs-wrap li .txt { display: inline-block; margin-left: 7px;}
.inputs-wrap li .k-input { width: 100%;}
.inputs-wrap li .label_text { flex-shrink: 0;}
/* date */
.date-box-wrap { display: inline-flex; align-items: center; width: 100%;}
.date-box-wrap:after { content: ''; display: block; clear: both;}
.date-box-wrap .date-box { width: 100%;}
.date-box-wrap .label_text { display: inline-block; float: left; margin: 0 7px; font-size: 14px; font-weight: 500; color: #404040; line-height: 35px;}
.tabular td .date-box-wrap { display: flex; width: 100%;}
.tabular td .date-box-wrap .date-box { width: 48.7%;}

