@font-face {
    font-family: 'Rosario';
    src: url('Rosario-Bold.eot');
    src: url('Rosario-Bold.eot?#iefix') format('embedded-opentype'),
        url('Rosario-Bold.woff2') format('woff2'),
        url('Rosario-Bold.woff') format('woff'),
        url('Rosario-Bold.svg#Rosario-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosario';
    src: url('Rosario-Italic.eot');
    src: url('Rosario-Italic.eot?#iefix') format('embedded-opentype'),
        url('Rosario-Italic.woff2') format('woff2'),
        url('Rosario-Italic.woff') format('woff'),
        url('Rosario-Italic.svg#Rosario-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rosario';
    src: url('Rosario-BoldItalic.eot');
    src: url('Rosario-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Rosario-BoldItalic.woff2') format('woff2'),
        url('Rosario-BoldItalic.woff') format('woff'),
        url('Rosario-BoldItalic.svg#Rosario-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rosario';
    src: url('Rosario-Light.eot');
    src: url('Rosario-Light.eot?#iefix') format('embedded-opentype'),
        url('Rosario-Light.woff2') format('woff2'),
        url('Rosario-Light.woff') format('woff'),
        url('Rosario-Light.svg#Rosario-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosario';
    src: url('Rosario-LightItalic.eot');
    src: url('Rosario-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Rosario-LightItalic.woff2') format('woff2'),
        url('Rosario-LightItalic.woff') format('woff'),
        url('Rosario-LightItalic.svg#Rosario-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rosario';
    src: url('Rosario-Medium.eot');
    src: url('Rosario-Medium.eot?#iefix') format('embedded-opentype'),
        url('Rosario-Medium.woff2') format('woff2'),
        url('Rosario-Medium.woff') format('woff'),
        url('Rosario-Medium.svg#Rosario-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosario';
    src: url('Rosario-MediumItalic.eot');
    src: url('Rosario-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Rosario-MediumItalic.woff2') format('woff2'),
        url('Rosario-MediumItalic.woff') format('woff'),
        url('Rosario-MediumItalic.svg#Rosario-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rosario';
    src: url('Rosario-Regular.eot');
    src: url('Rosario-Regular.eot?#iefix') format('embedded-opentype'),
        url('Rosario-Regular.woff2') format('woff2'),
        url('Rosario-Regular.woff') format('woff'),
        url('Rosario-Regular.svg#Rosario-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosario';
    src: url('Rosario-SemiBold.eot');
    src: url('Rosario-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Rosario-SemiBold.woff2') format('woff2'),
        url('Rosario-SemiBold.woff') format('woff'),
        url('Rosario-SemiBold.svg#Rosario-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosario';
    src: url('Rosario-SemiBoldItalic.eot');
    src: url('Rosario-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Rosario-SemiBoldItalic.woff2') format('woff2'),
        url('Rosario-SemiBoldItalic.woff') format('woff'),
        url('Rosario-SemiBoldItalic.svg#Rosario-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

