@charset "utf-8";
/*reset*/
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, thead, tbody, tr, th, td, form, fieldset, legend, input, textarea, button {margin:0; padding:0; font-weight:normal}
table {width:100%; border:0; border-spacing:0; border-collapse:collapse;}
/*html:first-child select {padding-right:6px; height:20px;} !* Opera 9 & Below Fix *!*/
option {vertical-align:middle;  padding:3px 0;} /* Firefox Fix */
legend {display:none; visibility:hidden;}
img, fieldset, button {vertical-align:middle; border:0;}
ul, ol {list-style:none;}
em, address {font-style:normal;}
hr {display:none; visibility:hidden;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {display:block; margin: 0; padding: 0; }
/* 사파리 col width 에러문제로 display 삭제처리함
caption  {display:block; height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0;}*/
caption  {height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0;}
input, textarea, button {vertical-align: middle;}
a {text-decoration:none;color:inherit;}
a:hover, a:active, a:focus{text-decoration:none;}