<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- 여기에 head.html을 인클루드 -->
    @@include('head.html')

    <title>Kendo Ui - 사용자</title>

    <link rel="stylesheet" href="../css/style2.css">

</head>
<body>
    <!-- 자동완성 방지용  -->
    <input type="text" title="자동완성 방지용" style="width:0;height:0;position: absolute;">
    <input type="password" title="자동완성 방지용" style="width:0;height:0;position: absolute;">
    <!-- 자동완성 방지용  -->

    <div class="wrap">
<!--    Header START    -->
        <!-- 여기에 Header.html을 인클루드 -->
        @@include('header.html')
<!--        <div id="header" data-include-path="header.html"></div>-->
<!--    Header END    -->

<!--    본문영역 START    -->
        <main class="body-container">
<!--        breadcrumb START        -->
            <section class="breadcrumb">
                <div class="container">
                    <ul class="menu">
                        <li><a href="index.html"><i class="icon-home"></i></a></li>
                        <li>Kendo Ui</li>
                    </ul>
                </div>
            </section>
<!--        breadcrumb END        -->

            <section class="sec-">
                <div class="container">
                    <div class="top-title-box">
                        <h2>Kendo Ui</h2>
                    </div>

                    <article id="editor" class="article-">
                        <h3 class="title"># Editor</h3>
                        <p class="pd-mb10">jsp/common/kendoImgAdminPopup.jsp 를 인클루드 해줘야 한다. 이미지 올리기 공통 팝업</p>
                        <div class="tip-box">
                            <span>editor p태그 없애주는 설정</span>

                            <pre class="">
var defaultTools = kendo.ui.Editor.defaultTools;

defaultTools["insertLineBreak"].options.shift = false;
delete defaultTools["insertParagraph"].options;
                            </pre>
                        </div>

                        <div class="sec-cont pd-mt30">
                            <div class="">
                                <div class="pd-flex-col pd-gap15">
                                    <textarea name="" id="kendo_editor" class="width100"></textarea>
                                </div>

                                <div class="accordion-wrap pd-mt30">
                                    <div class="accordion-head">
                                        <strong>코드 보기</strong>
                                    </div>
                                    <div class="accordion-body">
                                        <div class="g-code-box">
                                            <pre data-src="code/kendoUi_15.html"></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--                        //    -->
                        </div>
                    </article>
                    <!--                // Editor End    -->
                </div>
            </section>
        </main>
<!--    본문영역 END    -->

<!--    Footer START    -->
<!--    Footer END    -->

<!--    ======================================================================    -->

        <script type="text/x-kendo-template" id="imgupload-template">
            <input name="img-upload" id="img-upload" type="file"/>
        </script>

        <!-- Image 팝업 -->
        <div class="bbs_img_upload_popup" style="padding:0;display:none;">
            <input type="hidden" name="objectId" id="img_objectId" />
            <input type="hidden" name="editorId" id="editorId" />
            <div class="bbs_img_upload_data">
                <div class="file_upload_list file_upload_list_first cmptMapping-box">
                    <div class="cmptMapping-top-box pt0">
                        <strong><i class="icon icon-badge"></i>URL</strong>
                    </div>
                    <div class="thumbnail"><img src="../images/admin/none_photo2.gif" alt="no thumnul" /></div>
                    <ul>
                        <li><label for="url">URL</label><input type="text" id="url" data-bind="value:imageUrl"/></li>
                        <li><label for="urlWidth">Width</label><span></span><input type="text" id="urlWidth" data-bind="value:imageWidth" /></li>
                        <li><label for="urlHeight">Height</label><input type="text" id="urlHeight" data-bind="value:imageHeight"/></li>
                        <li>
                            <label for="imgTxt">대체텍스트</label>
                            <textarea name="imgTxt" id="imgTxt" class="k-textbox width100" data-bind="value:imageText" style="height: 90px;"></textarea>
                        </li>
                    </ul>
                    <div class="bottom_btn"><button id="urlUpload" class="popup-btn" data-bind="click:apply">업로드</button></div>
                </div>
                <div class="file_upload_list cmptMapping-box">
                    <div class="cmptMapping-top-box">
                        <strong><i class="icon icon-badge"></i>파일업로드</strong>
                    </div>
                    <div class="thumbnail">
                        <img src="../images/admin/none_photo2.gif" alt="no thumnul" data-bind="value:imageFile"/>
                        <div id="imgUpload" class="hide"></div>
                    </div>
                    <ul>
                        <li><label for="fileWidth">Width</label><input type="text" data-bind="value:imageFileWidth" id="fileWidth"/></li>
                        <li><label for="fileHeight">Height</label><input type="text" data-bind="value:imageFileHeight" id="fileHeight"/></li>
                        <li>
                            <label for="fileImgTxt">대체텍스트</label>
                            <textarea name="fileImgTxt" id="fileImgTxt" class="k-textbox width100" data-bind="value:imageFileText" style="height: 90px;"></textarea>
                        </li>
                    </ul>
                    <div class="bottom_btn"><button class="popup-btn" data-bind="click:apply2">업로드</button></div>
                </div>
            </div>
        </div>
<!--    // =================== end    -->

        <script>
            var now = new Date();
            var mon = "";
            var day = "";
            if ((now.getMonth() + 1) < 10) {
                mon = "0" + (now.getMonth() + 1);
            } else {
                mon = now.getMonth() + 1;
            }
            if ((now.getDate()) < 10) {
                day = "0" + (now.getDate());
            } else {
                day = now.getDate();
            }
            var nowDay = now.getFullYear() + "-" + mon + "-" + day;

            var currentPath = window.location.pathname;
            var currentHash = window.location.hash;

            $(function () {
                kendo.culture("ko-KR");

                $(".kendoUi .liEditor a").addClass("active");

                // editor
                editorDraw();
            });

            function editorDraw() {
                var defaultTools = kendo.ui.Editor.defaultTools;

                defaultTools["insertLineBreak"].options.shift = false;
                delete defaultTools["insertParagraph"].options;

                var pcEditor = $("#kendo_editor").kendoEditor({
                    // stylesheets: [
                    //     "<%= com.podosw.web.util.ServletUtils.getContextPath(request) %>/css/solution/solution_ui.css"
                    // ],
                    tools: [
                        "bold", "italic", "underline", "strikethrough", "justifyLeft", "justifyCenter", "justifyRight",
                        "justifyFull", "insertUnorderedList", "insertOrderedList", "indent", "outdent", "createLink",
                        "unlink",
                        { 	name: "insertImage",
                            tooltip: "이미지삽입",
                            exec: function(e) {
                                insertImg(e);
                                return false;
                            }
                        }, "subscript", "superscript", "createTable", "addRowAbove", "addRowBelow",
                        "addColumnLeft", "addColumnRight", "deleteRow", "deleteColumn", "formatting",
                        "cleanFormatting", "fontName", "fontSize", "foreColor", "backColor", "tableWizard",
                        "mergeCellsHorizontally", "mergeCellsVertically", "splitCellHorizontally", "splitCellVertically",
                        "tableAlignLeft", "tableAlignCenter", "tableAlignRight", "viewHtml"
                    ],
                    fontName: [].concat(	//폰트추가(구글웹폰트만가능)
                        kendo.ui.Editor.fn.options.fontName,
                        [
                            {text: "나눔고딕", value: "'Nanum Gothic',sans-serif" },
                            {text: "나눔명조", value: "'Nanum Myeongjo',sans-serif" },
                            {text: "나눔펜", value: "'Nanum Pen Script',cursive" },
                            {text: "나눔브러쉬", value: "'Nanum Brush Script',cursive" },
                            {text: "배달의민족 도현", value: "'Do Hyeon',sans-serif" },
                            {text: "배달의민족 주아", value: "'Jua',sans-serif" },
                            {text: "배달의민족 연성", value: "'Yeon Sung',cursive" },
                            {text: "하이멜로디", value: "'Hi Melody', cursive" },
                            {text: "감자꽃마을", value: "'Gamja Flower', cursive" }
                        ]
                    ),
                    resizable: {
                        content: true
                    }
                });

                $(pcEditor.data("kendoEditor").body)
                    .prevAll("head")
                    .append("<link href='https://fonts.googleapis.com/css2?family=Nanum+Gothic' rel='stylesheet'>")		//나눔고딕
                    .append("<link href='https://fonts.googleapis.com/css2?family=Nanum+Myeongjo' rel='stylesheet'>")		//나눔명조
                    .append("<link href='https://fonts.googleapis.com/css2?family=Nanum+Pen+Script' rel='stylesheet'>")	//나눔펜
                    .append("<link href='https://fonts.googleapis.com/css2?family=Nanum+Brush+Script' rel='stylesheet'>")	//나눔브러쉬
                    .append("<link href='https://fonts.googleapis.com/css2?family=Do+Hyeon' rel='stylesheet'>")			//배달의민족 도현
                    .append("<link href='https://fonts.googleapis.com/css2?family=Jua' rel='stylesheet'>")				//배달의민족 주아
                    .append("<link href='https://fonts.googleapis.com/css2?family=Yeon+Sung' rel='stylesheet'>")			//배달의민족 연성
                    .append("<link href='https://fonts.googleapis.com/css2?family=Hi+Melody' rel='stylesheet'>")			//하이멜로디
                    .append("<link href='https://fonts.googleapis.com/css2?family=Gamja+Flower' rel='stylesheet'>");		//감자꽃마을

                $(pcEditor.data("kendoEditor").body)
                    .css("font-size", "12pt");

                $('#url').blur(function(){
                    if($('#url').val() != "" && $('#url').val().length > 10){
                        $('.thumbnail').eq(0).find('img').attr('src',$('#url').val());
                    }
                });

                var objectType = 106;
                var template = null;

                if( $('#imgUpload').text().length == 0  ) {
                    template = kendo.template($("#imgupload-template").html());
                    $('#imgUpload').html(template({}));
                }
                if( !$('#img-upload').data('kendoUpload') ){
                    $("#img-upload").kendoUpload({
                        showFileList : false,
                        width : 500,
                        multiple : false,
                        localization:{ select : "파일 선택" , statusUploaded: "완료", statusFailed : "업로드 실패" },
                        async: {
                            saveUrl:  '<%= com.podosw.web.util.ServletUtils.getContextPath(request) %>/comm/save_my_attachments.do',
                            autoUpload: true
                        },
                        upload: function (e) {
                            e.data = {objectType: objectType, objectId: $("#img_objectId").val()};
                        },
                        error : function (e){
                        },
                        success : function(e){
                            if(e.response){
                                var _src =
                                    $(".thumbnail").eq(1).find('img').attr({
                                        src: "<%= com.podosw.web.util.ServletUtils.getContextPath(request) %>/comm/image_view.do?objectType="+objectType+"&objectId="+$('#img_objectId').val()+"&thumbnail=true"
                                    });
                            }
                        },
                        complete : function(e){
                        },
                        select: function(e){
                            var d = new Date();
                            var today = d.getFullYear()+""+(d.getMonth()+1)+""+d.getDate()+""+d.getHours()+""+d.getMinutes()+""+d.getSeconds();
                            $('#img_objectId').val(companyId+today);

                            $.each(e.files, function(index, value) {
                                if(value.size > 10485760){
                                    e.preventDefault();
                                    alert("파일 사이즈는 10M로 제한되어있습니다.");
                                }else{
                                    $.each(e.files, function(index, value) {
                                        if(value.extension != ".JPG" && value.extension != ".jpg"
                                            && value.extension != ".SVG" && value.extension != ".svg"
                                            && value.extension != ".PNG" && value.extension != ".png"){

                                            e.preventDefault();
                                            alert("업로드가 허용된 이미지형식의 파일만 선택해주세요.\n가능한 파일확장자:jpg, gif, png");
                                        }
                                    });
                                }
                            });
                        }
                    });
                    $("#imgUpload").removeClass('hide');
                }
            }

            function insertImg(e) {
                $('.thumbnail').eq(0).find('img').attr('src','/images/runway/none_photo2.gif');
                $('.thumbnail').eq(1).find('img').attr('src','/images/runway/none_photo2.gif');
                $('#url').val("");
                $('#urlWidth').val("");
                $('#urlHeight').val("");
                $('#fileWidth').val("");
                $('#fileHeight').val("");
                $('#imgTxt').val("");
                $('#fileImgTxt').val("");
                var parent = e.target.parentElement.parentElement;
                var editorId = parent.getAttribute("aria-controls");

                var rendorTo = $(".bbs_img_upload_popup");
                rendorTo.kendoWindow({
                    width:"570px",
                    height:"auto",
                    resizable : true,
                    title : "이미지 선택",
                    modal: true,
                    visible: false
                });

                var observable = kendo.observable({
                    imageUrl: "",
                    imageHeight: "",
                    imageWidth: "",
                    imageFile: "",
                    imageFileHeight: "",
                    imageFileWidth: "",
                    imageFileText: "",
                    imageText: "",
                    apply:function(e){
                        var $this = this;
                        var template = kendo.template('<img src="#=src#" width="#=width#" height="#=height#" style="max-width:100%;" alt="#=text#" />');
                        var editor = $("#"+editorId).data("kendoEditor");
                        var imgTag = $('.thumbnail').eq(0).find('img')[0];
                        var _src = $(imgTag).attr("src");
                        if(_src == "/images/runway/none_photo2.gif") {
                            alert("업로드할 이미지를 선택해주세요.");
                            return false;
                        } else {
                            editor.exec("inserthtml", { value: template({src: $this.imageUrl,width: $this.imageWidth,height: $this.imageHeight, text: $this.imageText}) });
                            rendorTo.data("kendoWindow").close();
                        }
                    },
                    apply2:function(e){
                        var $this = this;
                        var template = kendo.template('<img src="#=src#" width="#=width#" height="#=height#" style="max-width:100%;" alt="#=text#" />');
                        var editor = $("#"+editorId).data("kendoEditor");
                        var imgTag = $('.thumbnail').eq(1).find('img')[0];
                        var _src = $(imgTag).attr("src");
                        if(_src == "/images/runway/none_photo2.gif") {
                            alert("업로드할 이미지를 선택해주세요.");
                            return false;
                        } else {
                            editor.exec("inserthtml", { value: template({src: _src,width: $this.imageFileWidth,height: $this.imageFileHeight, text: $this.imageFileText}) });
                            rendorTo.data("kendoWindow").close();
                        }
                    }
                });

                kendo.bind( rendorTo, observable );
                $("#img-upload").data("kendoUpload").clearAllFiles();
                rendorTo.data("kendoWindow").center();
                rendorTo.data("kendoWindow").open();


                if(window.outerWidth<768){
                    $('.k-window').css('width','100%');
                }
            }

            function kendoTreeViewDraw() {
                $("#treeview").kendoTreeView({
                    dataSource: new kendo.data.HierarchicalDataSource({
                        data: [
                            { text: "Furniture", items: [
                                    { text: "Tables & Chairs" },
                                    { text: "Sofas" },
                                    { text: "Occasional Furniture" }
                                ] },
                            { text: "Decor", items: [
                                    { text: "Bed Linen" },
                                    { text: "Curtains & Blinds" },
                                    { text: "Carpets" }
                                ] }
                        ]
                        // transport: {
                        //     read: { url:"<%= com.podosw.web.util.ServletUtils.getContextPath(request) %>/operator/ba/ba_dept_list.do", type:"POST", dataType: 'json' },
                        //     parameterMap: function (options, operation){
                        //         return {  USEFLAG : "Y" };
                        //     }
                        // },
                        // schema: {
                        //     data: "items",
                        //     model: {
                        //         fields: {
                        //             DIVISIONID : { type: "String" },
                        //             DVS_NAME : { type: "String" },
                        //             HIGH_DVSID : { type: "String" },
                        //             items : { DIVISIONID : { type: "String" }, DVS_NAME : { type: "String" }, HIGH_DVSID : { type: "String"} }
                        //         },
                        //         children: "items"
                        //     }
                        // },
                        // serverFiltering: false,
                        // serverSorting: false
                    }),
                    loadOnDemand: false
                });
            }
        </script>
    </div>
</body>
</html>