@font-face {
    font-family: 'KBO Dia Gothic';
    src: url('KBODiaGothicMedium.eot');
    src: url('KBODiaGothicMedium.eot?#iefix') format('embedded-opentype'),
        url('KBODiaGothicMedium.woff2') format('woff2'),
        url('KBODiaGothicMedium.woff') format('woff'),
        url('KBODiaGothicMedium.ttf') format('truetype'),
        url('KBODiaGothicMedium.svg#KBODiaGothicMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KBO Dia Gothic';
    src: url('KBODiaGothicBold.eot');
    src: url('KBODiaGothicBold.eot?#iefix') format('embedded-opentype'),
        url('KBODiaGothicBold.woff2') format('woff2'),
        url('KBODiaGothicBold.woff') format('woff'),
        url('KBODiaGothicBold.ttf') format('truetype'),
        url('KBODiaGothicBold.svg#KBODiaGothicBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KBO Dia Gothic';
    src: url('KBODiaGothicLight.eot');
    src: url('KBODiaGothicLight.eot?#iefix') format('embedded-opentype'),
        url('KBODiaGothicLight.woff2') format('woff2'),
        url('KBODiaGothicLight.woff') format('woff'),
        url('KBODiaGothicLight.ttf') format('truetype'),
        url('KBODiaGothicLight.svg#KBODiaGothicLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

