<!doctype html>
<html lang="ko">
    <head>
        <!-- 여기에 head.html을 인클루드 -->
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#8C63E7" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link rel="shortcut icon" href="" />
        <link rel="apple-touch-icon" href="" />
        <link rel="apple-touch-icon-precomposed" href="" />
        <link rel="icon" href="" type="image/x-icon" />

        <meta name="Description" content="" />
        <meta name="Keywords" content="" />
        <meta name="Copyright" content="" />
        <meta content="" property="og:title" />
        <meta content="" property="og:description" />
        <meta content="" property="og:url" />
        <meta content="" property="og:site-name" />

        <link rel="stylesheet" href="../css/reset2.css" />
        <link rel="stylesheet" href="../css/root.css" />
        <link rel="stylesheet" href="../css/kendo/2022.1.119/kendo.common.min.css" />
        <!--    <link rel="stylesheet" href="../css/font.css">-->
        <link rel="stylesheet" href="../css/common.css" />
        <link rel="stylesheet" href="../css/util.css" />
        <link rel="stylesheet" href="../css/style2.css" />
        <link rel="stylesheet" href="../css/guide.css" />
        <link rel="stylesheet" href="../css/media2.css" />

        <script src="../js/jquery/3.4.1/jquery-3.4.1.js"></script>
        <script src="../js/kendo/2022.1.119/kendo.all.min.js"></script>
        <script src="../js/kendo/2022.1.119/cultures/kendo.culture.ko-KR.min.js"></script>
        <script src="../js/kendo/kendo.messages.ko-KR.js"></script>
        <script src="../js/common2.js"></script>
        <script src="../js/front.js"></script>

        <link rel="stylesheet" href="../js/prism.css" />
        <script src="../js/prism.js"></script>

        <title>Kendo Ui - 관리자</title>
    </head>
    <body>
        <!-- 자동완성 방지용  -->
        <input type="text" title="자동완성 방지용" style="width: 0; height: 0; position: absolute" />
        <input type="password" title="자동완성 방지용" style="width: 0; height: 0; position: absolute" />
        <!-- 자동완성 방지용  -->

        <div class="wrap">
            <!--    Header START    -->
            <!-- 여기에 Header.html을 인클루드 -->
            <header class="left-header">
                <div class="left-header-top">
                    <h1 class="logo">
                        <a href="index.html"><img src="../images/logo.png" alt="로고" /></a>
                    </h1>
                </div>
                <nav class="left-header-menu-wrap">
                    <ul>
                        <li class="first util">
                            <a href="javascript: void(0);" class="tab">UTIL</a>
                            <ol>
                                <li class="liFont"><a href="util.html" data-hash="#font">font</a></li>
                                <li class="liMgPd"><a href="util_mgPd.html" data-hash="#mgPd">margin/padding</a></li>
                                <!--                    <li class="liColor"><a href="util_color.html" data-hash="#color">color</a></li>-->
                                <li class="liClamp"><a href="util_clamp.html" data-hash="#clamp">줄임표</a></li>
                                <li class="liFlex"><a href="util_flex.html" data-hash="#flex">flex</a></li>
                                <li class="liHide"><a href="util_hide.html" data-hash="#hide">hide</a></li>
                                <li class="liNoData"><a href="util_noData.html" data-hash="#noData">No Data</a></li>
                                <li class="liEtc"><a href="util_etc.html">Etc</a></li>
                                <!--                    <li><a href="util.html#skeleton">Skeleton</a></li>-->
                            </ol>
                        </li>
                        <li class="color">
                            <a href="javascript: void(0);" class="tab">COLOR</a>
                            <ol>
                                <li class="liColorPrimary"><a href="color_primary.html">Primary(theme)</a></li>
                                <li class="liColorText"><a href="color_text.html">Text</a></li>
                                <li class="liColorBg"><a href="color_bg.html">Background&Line</a></li>
                                <!--                    <li class="liColorBadge"><a href="color_badge.html">badge</a></li>-->
                                <!--                    <li class="liColorEtc"><a href="color_etc.html">etc</a></li>-->
                            </ol>
                        </li>
                        <li class="four button">
                            <a href="javascript: void(0);" class="tab">BUTTON</a>
                            <ol>
                                <li class="liBtn"><a href="Button.html" data-hash="#size">size</a></li>
                                <li class="liPopupBtn"><a href="Button_popupBtn.html" data-hash="#popup">popup</a></li>
                                <li class="liTableBtn"><a href="Button_tableBtn.html" data-hash="#tableBtn">table button</a></li>
                            </ol>
                        </li>
                        <li class="input">
                            <a href="javascript: void(0);" class="tab">Input/Select</a>
                            <ol>
                                <li class="liInput"><a href="input.html" data-hash="#input">Input box</a></li>
                                <li class="liSelect"><a href="input_select.html" data-hash="#select">Select</a></li>
                                <li class="liRadioChk"><a href="input_radioChk.html" data-hash="#radioCheck">Checkbox/Radio</a></li>
                                <li class="liTextBox"><a href="input_textBox.html" data-hash="#textareaBox">Textarea box</a></li>
                                <li class="liSize"><a href="input_size.html" data-hash="#inputSize">input Size</a></li>
                                <li class="liSearch"><a href="input_search.html" data-hash="#inputSearch">input Search</a></li>
                            </ol>
                        </li>
                        <li class="five popup">
                            <a href="javascript: void(0);" class="tab">Popup</a>
                            <ol>
                                <li class="liPopup"><a href="popup.html" data-hash="#style">Style</a></li>
                                <li class="liPopupTable"><a href="popup_popupTable.html">Popup in table</a></li>
                            </ol>
                        </li>
                        <li class="two breakpointTab">
                            <a href="javascript: void(0);" class="tab">Breakpoint</a>
                            <ol>
                                <li class="liBreakpoint"><a href="breakpoint.html">Breakpoint</a></li>
                            </ol>
                        </li>
                        <li class="two loginTab">
                            <a href="javascript: void(0);" class="tab">Login</a>
                            <ol>
                                <li class="liLogin"><a href="login.html">Login</a></li>
                                <!--                    <li class="liLIdPw"><a href="login_idPw.html">아이디찾기/비밀번호찾기</a></li>-->
                            </ol>
                        </li>
                        <li class="tips">
                            <a href="javascript: void(0);" class="tab">Tip</a>
                            <ol>
                                <li class="liTip"><a href="tips.html" data-hash="#tip">Tips</a></li>
                            </ol>
                        </li>
                        <li class="three star">
                            <a href="javascript: void(0);" class="tab">별점</a>
                            <ol>
                                <li class="liStar"><a href="star.html" data-hash="#star">별점</a></li>
                            </ol>
                        </li>

                        <li class="five tabLi">
                            <a href="javascript: void(0);" class="tab">TAB</a>
                            <ol>
                                <li class="liTab"><a href="tab.html" data-hash="#tabStyle">Tab</a></li>
                                <li class="liTabKendo"><a href="tab_kendoTab.html" data-hash="#tabKendo">Kendo Tab</a></li>
                                <li class="liFilterTab"><a href="tab_filter.html" data-hash="#filter">Filter</a></li>
                                <li class="liFilterTabApply"><a href="tab_filterEduList.html" data-hash="#filterEduList">Filter 교육신청</a></li>
                            </ol>
                        </li>
                        <li class="six tableLi">
                            <a href="javascript: void(0);" class="tab">테이블</a>
                            <ol>
                                <li class="liTable"><a href="table.html">table</a></li>
                                <!--                    <li class="liTable2"><a href="table_theme2.html">table Theme2</a></li>-->
                                <!--                    <li class="liTable3"><a href="table_theme3.html">table Theme3</a></li>-->
                                <li class="liGrid"><a href="table_grid.html">Kendo Grid</a></li>
                            </ol>
                        </li>
                        <li class="seven list">
                            <a href="javascript: void(0);" class="tab">리스트</a>
                            <ol>
                                <li class="liEdu"><a href="edu.html" data-hash="#main">메인</a></li>
                                <li class="liEduApply"><a href="edu_eduApply.html" data-hash="#eduApply">교육신청</a></li>
                                <li class="liMyClassIng"><a href="edu_myClassIng.html" data-hash="#myClassIng">나의강의실 수강중</a></li>
                                <li class="liMyClassEnd"><a href="edu_myClassEnd.html" data-hash="#myClassEnd">나의강의실 종료</a></li>
                                <li class="liMyCdp"><a href="edu_myCdp.html" data-hash="#myCdp">교육계획 현황</a></li>
                            </ol>
                        </li>
                        <li class="eight accordion">
                            <a href="javascript: void(0);" class="tab">아코디언</a>
                            <ol>
                                <li class="liAcco"><a href="accordion.html" data-hash="#accordion">서브페이지</a></li>
                                <li class="liAccoList"><a href="accordion_list.html" data-hash="#accordion2">강의목차</a></li>
                            </ol>
                        </li>
                        <li class="nine chart">
                            <a href="javascript: void(0);" class="tab">Chart</a>
                            <ol>
                                <li class="liBullet"><a href="chartBullet.html">bullet</a></li>
                                <li class="liColumn"><a href="chartColumn.html">column</a></li>
                                <li class="liDonut"><a href="chartDonut.html">donut</a></li>
                                <li class="liDonutHalf"><a href="chartDonutHalf.html">donut half</a></li>
                                <li class="liRadarArea"><a href="chartRadarArea.html">radarArea</a></li>
                                <!--                    <li class="liLine"><a href="chartLine.html">line</a></li>-->
                            </ol>
                        </li>
                        <!--            <li class="eight kendoUi">-->
                        <!--                <a href="javascript: void(0);" class="tab">Kendo UI</a>-->
                        <!--                <ol>-->
                        <!--                    <li class="liUpload"><a href="admin_kendoUi.html" data-hash="#upload">Upload</a></li>-->
                        <!--                    <li class="liGrid"><a href="kendoUi_grid.html" data-hash="#gridFilterTooltip">Grid</a></li>-->
                        <!--                    <li class="liIcons"><a href="kendoUi_icons.html" data-hash="#icons">Icons</a></li>-->
                        <!--                    <li class="liDatePicker"><a href="admin_kendoUi_date.html" data-hash="#datePicker">DatePicker</a></li>-->
                        <!--                    <li class="liTime"><a href="kendoUi_time.html" data-hash="#dateTimePicker">DateTimePicker</a></li>-->
                        <!--&lt;!&ndash;                    <li class="liRange"><a href="kendoUi_range.html" data-hash="#dateRangePicker">DateRangePicker</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;                    <li class="liCalendar"><a href="kendoUi_calendar.html" data-hash="#calendar">Calendar</a></li>&ndash;&gt;-->
                        <!--                    <li class="liNumeric"><a href="kendoUi_numeric.html" data-hash="#numericTextBox">NumericTextBox</a></li>-->
                        <!--                    <li class="liDropDown"><a href="kendoUi_dropDown.html" data-hash="#dropDownList">DropDownList</a></li>-->
                        <!--                    <li class="liPaging"><a href="kendoUi_paging.html" data-hash="#paging">Paging</a></li>-->
                        <!--                    <li class="liEditor"><a href="kendoUi_editor.html" data-hash="#editor">Editor</a></li>-->
                        <!--                    <li class="liTree"><a href="kendoUi_tree.html" data-hash="#kendoTree">Kendo Tree</a></li>-->
                        <!--                </ol>-->
                        <!--            </li>-->
                        <li class="badge-">
                            <a href="javascript: void(0);" class="tab">Badge</a>
                            <ol>
                                <li class="liBadge"><a href="badge.html">Badge</a></li>
                            </ol>
                        </li>
                    </ul>
                </nav>
            </header>

            <!--        <div id="header" data-include-path="header.html"></div>-->
            <!--    Header END    -->

            <!--    본문영역 START    -->
            <main class="body-container">
                <!--        breadcrumb START        -->
                <section class="breadcrumb">
                    <div class="container">
                        <ul class="menu">
                            <li>
                                <a href="index.html"><i class="icon-home"></i></a>
                            </li>
                            <li>Kendo Ui</li>
                        </ul>
                    </div>
                </section>
                <!--        breadcrumb END        -->

                <section class="sec-">
                    <div class="container">
                        <div class="top-title-box">
                            <h2>Kendo Ui</h2>
                        </div>

                        <div class="flex-group">
                            <article id="dateTimePicker" class="article-">
                                <h3 class="title"># Date Time Picker</h3>
                                <p>따로 class name은 없고 부모 위 연결해서 사용 한걸로 앎.</p>
                                <p>시작일과 종료일이 있는 경우엔 .date-box-wrap > .date-box .label_text .date-box</p>
                                <p>종료일 값이 오후 11:59 으로 나올려면 데이터 받을때 오후 11:59 로 받아야 됬었던것 같다...</p>
                                <p>날짜 시간은 가운데 정렬</p>
                                <!--                        <p>-->
                                <!--                            input42 - 높이가 42px/대타이틀 옆 상단 검색 기능 input style<br/>-->
                                <!--                            input35 - 일반적으로 쓰이는 input style<br/>-->
                                <!--                            input35 / Number text - 개월, 금액 일때 옆에 label text가 들어갈 경우 사용하는 스타일 <br/>-->
                                <!--                            (개월, 금액의 경우 오른쪽 정렬을 원칙으로 하며, 그 외의 입력사항에 대해서는 왼쪽정렬을 기준으로 한다.) <br/>-->
                                <!--                            input35 / td inner  - 스플리터 안 테이블 내 td에 들어가는 input style-->
                                <!--                        </p>-->

                                <div class="sec-cont mt30">
                                    <div class="">
                                        <div class="flex-col gap15">
                                            <div>
                                                <p class="p-circle">
                                                    <i class="circle"></i>
                                                    개별
                                                </p>
                                                <input type="text" id="dateTimePicker_only" class="input-default txt-center width178" />
                                            </div>

                                            <div>
                                                <p class="p-circle">
                                                    <i class="circle"></i>
                                                    일반적으로 쓰이는 / 스플리터 안 테이블 내 td에 들어가는 input
                                                </p>
                                                <div class="date-box-wrap">
                                                    <div class="date-box">
                                                        <input type="text" id="dateTimePicker_start" class="input-default txt-center width178" />
                                                    </div>
                                                    <span class="label_text">~</span>
                                                    <div class="date-box">
                                                        <input type="text" id="dateTimePicker_end" class="input-default txt-center width178" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-wrap mt30">
                                            <div class="accordion-head">
                                                <strong>코드 보기</strong>
                                            </div>
                                            <div class="accordion-body">
                                                <div class="g-code-box">
                                                    <pre data-src="code/kendoUi_09.html"></pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--                        //    -->
                                </div>
                            </article>
                            <!--                // Date Time Picker End    -->

                            <div class="guid-table-box">
                                <div class="guid-table-fixed">
                                    <strong>Class</strong>
                                    <strong>내용</strong>
                                </div>
                                <ul id="guidClass"></ul>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <!--    본문영역 END    -->

            <!--    Footer START    -->
            <!--    Footer END    -->

            <script>
                var now = new Date();
                var mon = '';
                var day = '';
                if (now.getMonth() + 1 < 10) {
                    mon = '0' + (now.getMonth() + 1);
                } else {
                    mon = now.getMonth() + 1;
                }
                if (now.getDate() < 10) {
                    day = '0' + now.getDate();
                } else {
                    day = now.getDate();
                }
                var nowDay = now.getFullYear() + '-' + mon + '-' + day;

                var currentPath = window.location.pathname;
                var currentHash = window.location.hash;

                $(function () {
                    kendo.culture('ko-KR');

                    $('.kendoUi .liTime a').addClass('active');

                    // date time pucker
                    dateTimePickerDraw();

                    var html = '';
                    var guidData = [
                        { classNm: 'input-sm', cont: 'input 높이 작은 사이즈' },
                        { classNm: 'input-default', cont: 'input 높이 기본' },
                        { classNm: 'input-search', cont: 'input 높이 검색용 사이즈' },
                    ];

                    for (var i = 0; i < guidData.length; i++) {
                        html += '<li>';
                        html += "   <p class='left'>" + guidData[i].classNm + '</p>';
                        html += "   <p class='right'>" + guidData[i].cont + '</p>';
                        html += '</li>';
                    }

                    $('#guidClass').html(html);
                });

                function dateTimePickerDraw() {
                    $('#dateTimePicker_only').kendoDatePicker({
                        format: 'yyyy-MM-dd',
                        value: now,
                    });

                    var start = $('#dateTimePicker_start')
                        .kendoDateTimePicker({
                            //format: "yyyy/MM/dd hh:mm",
                            value: now,
                            change: function (e) {
                                var startDate = start.value(),
                                    endDate = end.value();

                                if (startDate) {
                                    startDate = new Date(startDate);
                                    startDate.setDate(startDate.getDate());
                                    end.min(startDate);
                                } else if (endDate) {
                                    start.max(new Date(endDate));
                                } else {
                                    endDate = new Date();
                                    start.max(endDate);
                                    end.min(endDate);
                                }
                            },
                        })
                        .data('kendoDateTimePicker');

                    var end = $('#dateTimePicker_end')
                        .kendoDateTimePicker({
                            //format: "yyyy/MM/dd hh:mm",
                            //timeFormat: "HH:mm",
                            //format: "yyyy-MM-dd HH:mm",
                            // value: now,
                            change: function (e) {
                                var endDate = end.value(),
                                    startDate = start.value();

                                if (endDate) {
                                    endDate = new Date(endDate);
                                    endDate.setDate(endDate.getDate());
                                    start.max(endDate);
                                } else if (startDate) {
                                    end.min(new Date(startDate));
                                } else {
                                    endDate = new Date();
                                    start.max(endDate);
                                    end.min(endDate);
                                }

                                //사용자가 직접 오전12:00 클릭시 입력가능
                                var d = this.value();

                                var month = d.getMonth() + 1;
                                var day = d.getDate();
                                var hour = d.getHours();
                                var min = d.getMinutes();

                                var output = d.getFullYear() + '-' + (month < 10 ? '0' : '') + month + '-' + (day < 10 ? '0' : '') + day;

                                $('#dateTimePicker_end_timeview > li:eq(0)').click(function () {
                                    $('#dateTimePicker_end').val(output + ' 오전 12:00');
                                });
                            },
                        })
                        .data('kendoDateTimePicker');

                    //날짜 선택시 디폴트값(오전 12:00) 변경 => 오후 11:59

                    end.bind('change', function () {
                        var d = this.value();

                        var month = d.getMonth() + 1;
                        var day = d.getDate();
                        var hour = d.getHours();
                        var min = d.getMinutes();

                        var output = d.getFullYear() + '-' + (month < 10 ? '0' : '') + month + '-' + (day < 10 ? '0' : '') + day;

                        if (hour == '00' && min == '00') {
                            $('#dateTimePicker_end').val(output + ' 오후 11:59');
                        }
                    });

                    start.max(end.value());
                    end.min(start.value());
                }

                function dateRangePickerDraw() {
                    $('#dateRangePicker_div').kendoDateRangePicker({
                        calendarButton: true,
                        messages: {
                            startLabel: '시작일',
                            endLabel: '종료일',
                        },
                    });
                }

                function numericTextBoxDraw() {
                    $('#numericTextBox_only').kendoNumericTextBox({
                        format: '',
                        min: 0,
                        max: 9999,
                        step: 1,
                    });

                    $('#numericTextBox_time').kendoNumericTextBox({
                        format: '',
                        min: 0,
                        max: 9999,
                        step: 1,
                    });

                    $('#numericTextBox_mm').kendoNumericTextBox({
                        format: '',
                        min: 0,
                        max: 9999,
                        step: 1,
                    });
                }

                function dropDownListDraw() {
                    var dropDownData = [];

                    $('#dropDownList_01').kendoDropDownList({
                        width: 100,
                        dataTextField: 'TEXT',
                        dataValueField: 'VALUE',
                        optionLabel: '==선택==',
                        dataSource: dropDownData,
                        // dataSource: {
                        //     transport: {
                        //         read: {
                        //             url: "<%= com.podosw.web.util.ServletUtils.getContextPath(request) %>/data/common/code_list.do",
                        //             type: "POST", dataType: 'json'
                        //         },
                        //         parameterMap: function (options, operation) {
                        //             return {STANDARDCODE: "BA03", TITLE: "=== 선택 ==="};
                        //         }
                        //     },
                        //     schema: {
                        //         data: "items", model: {
                        //             fields: {
                        //                 VALUE: {type: "String"},
                        //                 TEXT: {type: "String"}
                        //             }
                        //         },
                        //         parse: function(response) {
                        //             var obj = response.items;
                        //             var rtnArr = [];
                        //             if(obj != null){
                        //                 for (var i = 0; i < obj.length; i++) {
                        //                     var selectRow = {};
                        //                     $.each(obj[i], function(key,val){
                        //                         selectRow.VALUE = unescapeHtml(obj[i].VALUE);
                        //                         selectRow.TEXT = unescapeHtml(obj[i].TEXT);
                        //                     });
                        //
                        //                     rtnArr.push(selectRow);
                        //                 }
                        //             }
                        //
                        //             return {items:rtnArr};
                        //         }
                        //     },
                        //     serverFiltering: false,
                        //     serverSorting: false
                        // },
                        suggest: true,
                    });

                    $('#dropDownList_02').kendoDropDownList({
                        width: 100,
                        dataTextField: 'TEXT',
                        dataValueField: 'VALUE',
                        optionLabel: '==선택==',
                        dataSource: dropDownData,
                        suggest: true,
                    });

                    $('#dropDownList_03').kendoDropDownList({
                        width: 100,
                        dataTextField: 'TEXT',
                        dataValueField: 'VALUE',
                        optionLabel: '==선택==',
                        dataSource: dropDownData,
                        suggest: true,
                    });

                    $('#dropDownList_04').kendoDropDownList({
                        width: 100,
                        dataTextField: 'TEXT',
                        dataValueField: 'VALUE',
                        optionLabel: '==선택==',
                        dataSource: dropDownData,
                        suggest: true,
                    });
                }

                function pagerDraw() {
                    var pager_dataSource = new kendo.data.DataSource({
                        data: [
                            { productName: 'Tea', category: 'Beverages' },
                            { productName: 'Coffee', category: 'Beverages' },
                            { productName: 'Ham', category: 'Food' },
                            { productName: 'Bread', category: 'Food' },
                        ],
                        pageSize: 2,
                    });

                    $('#pager').kendoPager({
                        dataSource: pager_dataSource,
                        refresh: false,
                        responsive: false,
                        buttonCount: 5,
                        pageSizes: [10, 20, 30, 1000],
                    });
                }

                function editorDraw() {
                    var defaultTools = kendo.ui.Editor.defaultTools;

                    defaultTools['insertLineBreak'].options.shift = false;
                    delete defaultTools['insertParagraph'].options;

                    var pcEditor = $('#kendo_editor').kendoEditor({
                        // stylesheets: [
                        //     "<%= com.podosw.web.util.ServletUtils.getContextPath(request) %>/css/solution/solution_ui.css"
                        // ],
                        tools: [
                            'bold',
                            'italic',
                            'underline',
                            'strikethrough',
                            'justifyLeft',
                            'justifyCenter',
                            'justifyRight',
                            'justifyFull',
                            'insertUnorderedList',
                            'insertOrderedList',
                            'indent',
                            'outdent',
                            'createLink',
                            'unlink',
                            {
                                name: 'insertImage',
                                tooltip: '이미지삽입',
                                exec: function (e) {
                                    insertImg(e);
                                    return false;
                                },
                            },
                            'subscript',
                            'superscript',
                            'createTable',
                            'addRowAbove',
                            'addRowBelow',
                            'addColumnLeft',
                            'addColumnRight',
                            'deleteRow',
                            'deleteColumn',
                            'formatting',
                            'cleanFormatting',
                            'fontName',
                            'fontSize',
                            'foreColor',
                            'backColor',
                            'tableWizard',
                            'mergeCellsHorizontally',
                            'mergeCellsVertically',
                            'splitCellHorizontally',
                            'splitCellVertically',
                            'tableAlignLeft',
                            'tableAlignCenter',
                            'tableAlignRight',
                            'viewHtml',
                        ],
                        fontName: [].concat(
                            //폰트추가(구글웹폰트만가능)
                            kendo.ui.Editor.fn.options.fontName,
                            [
                                { text: '나눔고딕', value: "'Nanum Gothic',sans-serif" },
                                { text: '나눔명조', value: "'Nanum Myeongjo',sans-serif" },
                                { text: '나눔펜', value: "'Nanum Pen Script',cursive" },
                                { text: '나눔브러쉬', value: "'Nanum Brush Script',cursive" },
                                { text: '배달의민족 도현', value: "'Do Hyeon',sans-serif" },
                                { text: '배달의민족 주아', value: "'Jua',sans-serif" },
                                { text: '배달의민족 연성', value: "'Yeon Sung',cursive" },
                                { text: '하이멜로디', value: "'Hi Melody', cursive" },
                                { text: '감자꽃마을', value: "'Gamja Flower', cursive" },
                            ],
                        ),
                        resizable: {
                            content: true,
                        },
                    });

                    $(pcEditor.data('kendoEditor').body)
                        .prevAll('head')
                        .append("<link href='https://fonts.googleapis.com/css2?family=Nanum+Gothic' rel='stylesheet'>") //나눔고딕
                        .append("<link href='https://fonts.googleapis.com/css2?family=Nanum+Myeongjo' rel='stylesheet'>") //나눔명조
                        .append("<link href='https://fonts.googleapis.com/css2?family=Nanum+Pen+Script' rel='stylesheet'>") //나눔펜
                        .append("<link href='https://fonts.googleapis.com/css2?family=Nanum+Brush+Script' rel='stylesheet'>") //나눔브러쉬
                        .append("<link href='https://fonts.googleapis.com/css2?family=Do+Hyeon' rel='stylesheet'>") //배달의민족 도현
                        .append("<link href='https://fonts.googleapis.com/css2?family=Jua' rel='stylesheet'>") //배달의민족 주아
                        .append("<link href='https://fonts.googleapis.com/css2?family=Yeon+Sung' rel='stylesheet'>") //배달의민족 연성
                        .append("<link href='https://fonts.googleapis.com/css2?family=Hi+Melody' rel='stylesheet'>") //하이멜로디
                        .append("<link href='https://fonts.googleapis.com/css2?family=Gamja+Flower' rel='stylesheet'>"); //감자꽃마을

                    $(pcEditor.data('kendoEditor').body).css('font-size', '12pt');

                    $('#url').blur(function () {
                        if ($('#url').val() != '' && $('#url').val().length > 10) {
                            $('.thumbnail').eq(0).find('img').attr('src', $('#url').val());
                        }
                    });

                    var objectType = 106;
                    var template = null;

                    if ($('#imgUpload').text().length == 0) {
                        template = kendo.template($('#imgupload-template').html());
                        $('#imgUpload').html(template({}));
                    }
                    if (!$('#img-upload').data('kendoUpload')) {
                        $('#img-upload').kendoUpload({
                            showFileList: false,
                            width: 500,
                            multiple: false,
                            localization: { select: '파일 선택', statusUploaded: '완료', statusFailed: '업로드 실패' },
                            async: {
                                saveUrl: '<%= com.podosw.web.util.ServletUtils.getContextPath(request) %>/comm/save_my_attachments.do',
                                autoUpload: true,
                            },
                            upload: function (e) {
                                e.data = { objectType: objectType, objectId: $('#img_objectId').val() };
                            },
                            error: function (e) {},
                            success: function (e) {
                                if (e.response) {
                                    var _src = $('.thumbnail')
                                        .eq(1)
                                        .find('img')
                                        .attr({
                                            src:
                                                '<%= com.podosw.web.util.ServletUtils.getContextPath(request) %>/comm/image_view.do?objectType=' +
                                                objectType +
                                                '&objectId=' +
                                                $('#img_objectId').val() +
                                                '&thumbnail=true',
                                        });
                                }
                            },
                            complete: function (e) {},
                            select: function (e) {
                                var d = new Date();
                                var today = d.getFullYear() + '' + (d.getMonth() + 1) + '' + d.getDate() + '' + d.getHours() + '' + d.getMinutes() + '' + d.getSeconds();
                                $('#img_objectId').val(companyId + today);

                                $.each(e.files, function (index, value) {
                                    if (value.size > 10485760) {
                                        e.preventDefault();
                                        alert('파일 사이즈는 10M로 제한되어있습니다.');
                                    } else {
                                        $.each(e.files, function (index, value) {
                                            if (
                                                value.extension != '.JPG' &&
                                                value.extension != '.jpg' &&
                                                value.extension != '.SVG' &&
                                                value.extension != '.svg' &&
                                                value.extension != '.PNG' &&
                                                value.extension != '.png'
                                            ) {
                                                e.preventDefault();
                                                alert('업로드가 허용된 이미지형식의 파일만 선택해주세요.\n가능한 파일확장자:jpg, gif, png');
                                            }
                                        });
                                    }
                                });
                            },
                        });
                        $('#imgUpload').removeClass('hide');
                    }
                }

                function insertImg(e) {
                    $('.thumbnail').eq(0).find('img').attr('src', '/images/runway/none_photo2.gif');
                    $('.thumbnail').eq(1).find('img').attr('src', '/images/runway/none_photo2.gif');
                    $('#url').val('');
                    $('#urlWidth').val('');
                    $('#urlHeight').val('');
                    $('#fileWidth').val('');
                    $('#fileHeight').val('');
                    $('#imgTxt').val('');
                    $('#fileImgTxt').val('');
                    var parent = e.target.parentElement.parentElement;
                    var editorId = parent.getAttribute('aria-controls');

                    var rendorTo = $('.bbs_img_upload_popup');
                    rendorTo.kendoWindow({
                        width: '570px',
                        height: 'auto',
                        resizable: true,
                        title: '이미지 선택',
                        modal: true,
                        visible: false,
                    });

                    var observable = kendo.observable({
                        imageUrl: '',
                        imageHeight: '',
                        imageWidth: '',
                        imageFile: '',
                        imageFileHeight: '',
                        imageFileWidth: '',
                        imageFileText: '',
                        imageText: '',
                        apply: function (e) {
                            var $this = this;
                            var template = kendo.template('<img src="#=src#" width="#=width#" height="#=height#" style="max-width:100%;" alt="#=text#" />');
                            var editor = $('#' + editorId).data('kendoEditor');
                            var imgTag = $('.thumbnail').eq(0).find('img')[0];
                            var _src = $(imgTag).attr('src');
                            if (_src == '/images/runway/none_photo2.gif') {
                                alert('업로드할 이미지를 선택해주세요.');
                                return false;
                            } else {
                                editor.exec('inserthtml', { value: template({ src: $this.imageUrl, width: $this.imageWidth, height: $this.imageHeight, text: $this.imageText }) });
                                rendorTo.data('kendoWindow').close();
                            }
                        },
                        apply2: function (e) {
                            var $this = this;
                            var template = kendo.template('<img src="#=src#" width="#=width#" height="#=height#" style="max-width:100%;" alt="#=text#" />');
                            var editor = $('#' + editorId).data('kendoEditor');
                            var imgTag = $('.thumbnail').eq(1).find('img')[0];
                            var _src = $(imgTag).attr('src');
                            if (_src == '/images/runway/none_photo2.gif') {
                                alert('업로드할 이미지를 선택해주세요.');
                                return false;
                            } else {
                                editor.exec('inserthtml', { value: template({ src: _src, width: $this.imageFileWidth, height: $this.imageFileHeight, text: $this.imageFileText }) });
                                rendorTo.data('kendoWindow').close();
                            }
                        },
                    });

                    kendo.bind(rendorTo, observable);
                    $('#img-upload').data('kendoUpload').clearAllFiles();
                    rendorTo.data('kendoWindow').center();
                    rendorTo.data('kendoWindow').open();

                    if (window.outerWidth < 768) {
                        $('.k-window').css('width', '100%');
                    }
                }

                function kendoTreeViewDraw() {
                    $('#treeview').kendoTreeView({
                        dataSource: new kendo.data.HierarchicalDataSource({
                            data: [
                                { text: 'Furniture', items: [{ text: 'Tables & Chairs' }, { text: 'Sofas' }, { text: 'Occasional Furniture' }] },
                                { text: 'Decor', items: [{ text: 'Bed Linen' }, { text: 'Curtains & Blinds' }, { text: 'Carpets' }] },
                            ],
                            // transport: {
                            //     read: { url:"<%= com.podosw.web.util.ServletUtils.getContextPath(request) %>/operator/ba/ba_dept_list.do", type:"POST", dataType: 'json' },
                            //     parameterMap: function (options, operation){
                            //         return {  USEFLAG : "Y" };
                            //     }
                            // },
                            // schema: {
                            //     data: "items",
                            //     model: {
                            //         fields: {
                            //             DIVISIONID : { type: "String" },
                            //             DVS_NAME : { type: "String" },
                            //             HIGH_DVSID : { type: "String" },
                            //             items : { DIVISIONID : { type: "String" }, DVS_NAME : { type: "String" }, HIGH_DVSID : { type: "String"} }
                            //         },
                            //         children: "items"
                            //     }
                            // },
                            // serverFiltering: false,
                            // serverSorting: false
                        }),
                        loadOnDemand: false,
                    });
                }
            </script>
        </div>
    </body>
</html>
