@font-face {
    font-family: 'Dinbol';
    src: url('Dinbol.eot');
    src: url('Dinbol.eot?#iefix') format('embedded-opentype'),
        url('Dinbol.woff2') format('woff2'),
        url('Dinbol.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Dinreg';
    src: url('Dinreg.eot');
    src: url('Dinreg.eot?#iefix') format('embedded-opentype'),
        url('Dinreg.woff2') format('woff2'),
        url('Dinreg.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

