@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url('font/NotoSansKR-Thin.woff2') format('woff2'),
        url('font/NotoSansKR-Thin.woff') format('woff'),
        url('font/NotoSansKR-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url('font/NotoSansKR-Light.woff2') format('woff2'),
        url('font/NotoSansKR-Light.woff') format('woff'),
        url('font/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url('font/NotoSansKR-Regular.woff2') format('woff2'),
        url('font/NotoSansKR-Regular.woff') format('woff'),
        url('font/NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url('font/NotoSansKR-Medium.woff2') format('woff2'),
        url('font/NotoSansKR-Medium.woff') format('woff'),
        url('font/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url('font/NotoSansKR-Bold.woff2') format('woff2'),
        url('font/NotoSansKR-Bold.woff') format('woff'),
        url('font/NotoSansKR-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url('font/NotoSansKR-Black.woff2') format('woff2'),
        url('font/NotoSansKR-Black.woff') format('woff'),
        url('font/NotoSansKR-Black.otf') format('opentype');
}

/* Nanum Square */
@font-face {
    font-family: 'Nanum Square';
    src: local("Nanum Square"), /* computer */ url('../fonts/NanumSquare/NanumSquareL.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NanumSquare/NanumSquareL.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NanumSquare/NanumSquareL.woff') format('woff'), /* Modern Browsers */
    url('../fonts/NanumSquare/NanumSquareL.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/NanumSquare/NanumSquareOTFLight.svg#017f9c78318bcde3d1dc4451e8eaca0a') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  300;
}

@font-face {
    font-family: 'Nanum Square';
    src: local("Nanum Square"), /* computer */ url('../fonts/NanumSquare/NanumSquareR.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NanumSquare/NanumSquareR.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NanumSquare/NanumSquareR.woff') format('woff'), /* Modern Browsers */
    url('../fonts/NanumSquare/NanumSquareR.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/NanumSquare/NanumSquareOTFR.svg#9e23ceb0c858ca37642ba540402577eb') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}

@font-face {
    font-family: 'Nanum Square';
    src: local("Nanum Square"), /* computer */ url('../fonts/NanumSquare/NanumSquareB.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NanumSquare/NanumSquareB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NanumSquare/NanumSquareB.woff') format('woff'), /* Modern Browsers */
    url('../fonts/NanumSquare/NanumSquareB.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/NanumSquare/NanumSquareOTFB.svg#a41a1fda1fdf3dafd3394867a156b1cf') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  700;
}

@font-face {
    font-family: 'Nanum Square';
    src: local("Nanum Square"), /* computer */ url('../fonts/NanumSquare/NanumSquareEB.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NanumSquare/NanumSquareEB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NanumSquare/NanumSquareEB.woff') format('woff'), /* Modern Browsers */
    url('../fonts/NanumSquare/NanumSquareEB.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/NanumSquare/NanumSquareOTFExtraBold.svg#090d6763bc81b49309446d23fbd10e87') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  900;
}

/* Noto Sans CJK KR */
@font-face {
    font-family: 'Noto Sans CJK KR';
    src: local("Noto Sans CJK KR"), /* computer */ url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Light.woff') format('woff'), /* Modern Browsers */
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Light.svg#NotoSansCJKkr') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  300;
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    src: local("Noto Sans CJK KR"), /* computer */ url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */

    font-style:   normal;
    font-weight:  400;
}

@font-face {
    font-family: 'Noto Sans CJK KR';
    src: local("Noto Sans CJK KR"), /* computer */ url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/NotoSansCJKkr/NotoSansCJKkr-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */

    font-style:   normal;
    font-weight:  700;
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto/roboto-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
    url('../fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/roboto/roboto-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/roboto/roboto-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/roboto/roboto-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/roboto/roboto-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* Malgun Gothic */
@font-face {
    font-family: 'Malgun Gothic';
    src: url('../fonts/MalgunGothic/MalgunGothic.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('MalgunGothic'),
    url('../fonts/MalgunGothic/MalgunGothic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/MalgunGothic/MalgunGothicRegular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/MalgunGothic/MalgunGothicRegular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/MalgunGothic/MalgunGothic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/MalgunGothic/MalgunGothicRegular.svg#Roboto') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local("Montserrat"), /* computer */ url("../fonts/Montserrat/Montserrat-Light.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Montserrat/Montserrat-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat/Montserrat-Light.woff2") format("woff2"), /* Modern Browsers */
    url("../fonts/Montserrat/Montserrat-Light.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local("Montserrat"), /* computer */ url("../fonts/Montserrat/Montserrat-Bold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Montserrat/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"), /* Modern Browsers */
    url("../fonts/Montserrat/Montserrat-Bold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Montserrat"), /* computer */ url("../fonts/Montserrat/Montserrat-SemiBold.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), /* Modern Browsers */
    url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), /* Modern Browsers */
    url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype"); /* Safari, Android, iOS */
}

/* S-Core_Dream */
@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/S-Core_Dream/S-CoreDream-3Light.eot');
    src: url('../fonts/S-Core_Dream/S-CoreDream-3Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/S-Core_Dream/S-CoreDream-3Light.woff2') format('woff2'),
    url('../fonts/S-Core_Dream/S-CoreDream-3Light.woff') format('woff'),
    url('../fonts/S-Core_Dream/S-CoreDream-3Light.ttf') format('truetype'),
    url('../fonts/S-Core_Dream/S-CoreDream-3Light.svg#S-CoreDream-3Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/S-Core_Dream/S-CoreDream-5Medium.eot');
    src: url('../fonts/S-Core_Dream/S-CoreDream-5Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/S-Core_Dream/S-CoreDream-5Medium.woff2') format('woff2'),
    url('../fonts/S-Core_Dream/S-CoreDream-5Medium.woff') format('woff'),
    url('../fonts/S-Core_Dream/S-CoreDream-5Medium.ttf') format('truetype'),
    url('../fonts/S-Core_Dream/S-CoreDream-5Medium.svg#S-CoreDream-5Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/S-Core_Dream/S-CoreDream-4Regular.eot');
    src: url('../fonts/S-Core_Dream/S-CoreDream-4Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/S-Core_Dream/S-CoreDream-4Regular.woff2') format('woff2'),
    url('../fonts/S-Core_Dream/S-CoreDream-4Regular.woff') format('woff'),
    url('../fonts/S-Core_Dream/S-CoreDream-4Regular.ttf') format('truetype'),
    url('../fonts/S-Core_Dream/S-CoreDream-4Regular.svg#S-CoreDream-4Regular') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/S-Core_Dream/S-CoreDream-7ExtraBold.eot');
    src: url('../fonts/S-Core_Dream/S-CoreDream-7ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/S-Core_Dream/S-CoreDream-7ExtraBold.woff2') format('woff2'),
    url('../fonts/S-Core_Dream/S-CoreDream-7ExtraBold.woff') format('woff'),
    url('../fonts/S-Core_Dream/S-CoreDream-7ExtraBold.ttf') format('truetype'),
    url('../fonts/S-Core_Dream/S-CoreDream-7ExtraBold.svg#S-CoreDream-7ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/S-Core_Dream/S-CoreDream-6Bold.eot');
    src: url('../fonts/S-Core_Dream/S-CoreDream-6Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/S-Core_Dream/S-CoreDream-6Bold.woff2') format('woff2'),
    url('../fonts/S-Core_Dream/S-CoreDream-6Bold.woff') format('woff'),
    url('../fonts/S-Core_Dream/S-CoreDream-6Bold.ttf') format('truetype'),
    url('../fonts/S-Core_Dream/S-CoreDream-6Bold.svg#S-CoreDream-6Bold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/S-Core_Dream/S-CoreDream-9Black.eot');
    src: url('../fonts/S-Core_Dream/S-CoreDream-9Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/S-Core_Dream/S-CoreDream-9Black.woff2') format('woff2'),
    url('../fonts/S-Core_Dream/S-CoreDream-9Black.woff') format('woff'),
    url('../fonts/S-Core_Dream/S-CoreDream-9Black.ttf') format('truetype'),
    url('../fonts/S-Core_Dream/S-CoreDream-9Black.svg#S-CoreDream-9Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/S-Core_Dream/S-CoreDream-8Heavy.eot');
    src: url('../fonts/S-Core_Dream/S-CoreDream-8Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/S-Core_Dream/S-CoreDream-8Heavy.woff2') format('woff2'),
    url('../fonts/S-Core_Dream/S-CoreDream-8Heavy.woff') format('woff'),
    url('../fonts/S-Core_Dream/S-CoreDream-8Heavy.ttf') format('truetype'),
    url('../fonts/S-Core_Dream/S-CoreDream-8Heavy.svg#S-CoreDream-8Heavy') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/S-Core_Dream/S-CoreDream-2ExtraLight.eot');
    src: url('../fonts/S-Core_Dream/S-CoreDream-2ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/S-Core_Dream/S-CoreDream-2ExtraLight.woff2') format('woff2'),
    url('../fonts/S-Core_Dream/S-CoreDream-2ExtraLight.woff') format('woff'),
    url('../fonts/S-Core_Dream/S-CoreDream-2ExtraLight.ttf') format('truetype'),
    url('../fonts/S-Core_Dream/S-CoreDream-2ExtraLight.svg#S-CoreDream-2ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'S-Core Dream';
    src: url('../fonts/S-Core_Dream/S-CoreDream-1Thin.eot');
    src: url('../fonts/S-Core_Dream/S-CoreDream-1Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/S-Core_Dream/S-CoreDream-1Thin.woff2') format('woff2'),
    url('../fonts/S-Core_Dream/S-CoreDream-1Thin.woff') format('woff'),
    url('../fonts/S-Core_Dream/S-CoreDream-1Thin.ttf') format('truetype'),
    url('../fonts/S-Core_Dream/S-CoreDream-1Thin.svg#S-CoreDream-1Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* GyeonggiTitle */
@font-face {
    font-family: 'GyeonggiTitle';
    src: url('../fonts/GyeonggiTitle/GyeonggiTitleB.eot');
    src: url('../fonts/GyeonggiTitle/GyeonggiTitleB.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GyeonggiTitle/GyeonggiTitleB.woff2') format('woff2'),
    url('../fonts/GyeonggiTitle/GyeonggiTitleB.woff') format('woff'),
    url('../fonts/GyeonggiTitle/GyeonggiTitleB.svg#GyeonggiTitleB') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GyeonggiBatang';
    src: url('../fonts/GyeonggiTitle/GyeonggiBatangR.eot');
    src: url('../fonts/GyeonggiTitle/GyeonggiBatangR.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GyeonggiTitle/GyeonggiBatangR.woff2') format('woff2'),
    url('../fonts/GyeonggiTitle/GyeonggiBatangR.woff') format('woff'),
    url('../fonts/GyeonggiTitle/GyeonggiBatangR.svg#GyeonggiBatangR') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GyeonggiBatang';
    src: url('../fonts/GyeonggiTitle/GyeonggiBatangB.eot');
    src: url('../fonts/GyeonggiTitle/GyeonggiBatangB.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GyeonggiTitle/GyeonggiBatangB.woff2') format('woff2'),
    url('../fonts/GyeonggiTitle/GyeonggiBatangB.woff') format('woff'),
    url('../fonts/GyeonggiTitle/GyeonggiBatangB.svg#GyeonggiBatangB') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GyeonggiTitle';
    src: url('../fonts/GyeonggiTitle/GyeonggiTitleL.eot');
    src: url('../fonts/GyeonggiTitle/GyeonggiTitleL.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GyeonggiTitle/GyeonggiTitleL.woff2') format('woff2'),
    url('../fonts/GyeonggiTitle/GyeonggiTitleL.woff') format('woff'),
    url('../fonts/GyeonggiTitle/GyeonggiTitleL.svg#GyeonggiTitleL') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GyeonggiTitle';
    src: url('../fonts/GyeonggiTitle/GyeonggiTitleM.eot');
    src: url('../fonts/GyeonggiTitle/GyeonggiTitleM.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GyeonggiTitle/GyeonggiTitleM.woff2') format('woff2'),
    url('../fonts/GyeonggiTitle/GyeonggiTitleM.woff') format('woff'),
    url('../fonts/GyeonggiTitle/GyeonggiTitleM.svg#GyeonggiTitleM') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GyeonggiTitleV';
    src: url('../fonts/GyeonggiTitle/GyeonggiTitleV.eot');
    src: url('../fonts/GyeonggiTitle/GyeonggiTitleV.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GyeonggiTitle/GyeonggiTitleV.woff2') format('woff2'),
    url('../fonts/GyeonggiTitle/GyeonggiTitleV.woff') format('woff'),
    url('../fonts/GyeonggiTitle/GyeonggiTitleV.svg#GyeonggiTitleV') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Play */
@font-face {
    font-family: 'Play';
    src: url('../fonts/Play/Play-Regular.eot');
    src: url('../fonts/Play/Play-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Play/Play-Regular.woff2') format('woff2'),
    url('../fonts/Play/Play-Regular.woff') format('woff'),
    url('../fonts/Play/Play-Regular.svg#Play-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Play';
    src: url('../fonts/Play/Play-Bold.eot');
    src: url('../fonts/Play/Play-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Play/Play-Bold.woff2') format('woff2'),
    url('../fonts/Play/Play-Bold.woff') format('woff'),
    url('../fonts/Play/Play-Bold.svg#Play-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* Jalnan */
@font-face {
    font-family: 'Jalnan';
    src: local("Jalnan"), /* computer */ url("../fonts/Jalnan/Jalnan.eot"); /* IE9 Compat Modes */
    src: url("../fonts/Jalnan/Jalnan.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/Jalnan/Jalnan.woff2?v=3.12") format("woff2"),
    url("../fonts/Jalnan/Jalnan.woff?v=3.12") format("woff"),
    url("../fonts/Jalnan/Jalnan.ttf") format("truetype"); /* Safari, Android, iOS */
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}