@import url("../rootAdmin.css");
@import url("../commonAdmin.css");
@import url("../admin.css");
@import url("../util.css");

.svg-icon { display: inline-flex;}

.table-style { border-collapse: collapse;}
.table-style thead tr th { padding: 6px 10px; border-top: 1px solid #000; border-bottom: 1px solid #d1d1d1; text-align: left;}
.table-style tr td { padding: 6px 10px; border-bottom: 1px solid #d1d1d1;}

button:focus { outline: 2px solid #000; outline-offset: 0; box-shadow: 0 0 0 3px #000; transition: outline 0s, box-shadow 0s !important;}
.token-copy { display: inline-flex; justify-content: center; align-items: center; gap: 8px; padding: 6px 10px; border-radius: 4px; background: #EBEBFA;}
.token-copy:hover {}
.token-copy .svg-icon { width: 20px; height: 20px; border: 1px solid #8E8E8E; border-radius: 3px; background-color: #fff;}

.palette-box { display: inline-flex; flex-direction: column; width: 100px; border: 1px solid #d1d1d1; border-radius: var(--pd-admin-token-box-radius);}
.palette-box .palette { width: 100%; height: 80px; border-radius: var(--pd-admin-token-box-radius) var(--pd-admin-token-box-radius) 0 0;}
.palette-box > span { width: 100%; padding: 6px 10px; font-size: 14px; text-align: center;}

.palette-box .palette.color-lightest-primary { background: var(--color-lightest-primary);}
.palette-box .palette.color-lighter-primary { background: var(--color-lighter-primary);}
.palette-box .palette.color-light-primary { background: var(--color-light-primary);}
.palette-box .palette.color-soft-primary { background: var(--color-soft-primary);}
.palette-box .palette.color-base-primary { background: var(--color-base-primary);}
.palette-box .palette.color-bold-primary { background: var(--color-bold-primary);}
.palette-box .palette.color-dark-primary { background: var(--color-dark-primary);}
.palette-box .palette.color-darker-primary { background: var(--color-darker-primary);}
.palette-box .palette.color-darkest-primary { background: var(--color-darkest-primary);}

.palette-box .palette.color-text-strongest { background: var(--color-text-strongest);}
.palette-box .palette.color-text-strong { background: var(--color-text-strong);}
.palette-box .palette.color-text-default { background: var(--color-text-default);}
.palette-box .palette.color-text-muted { background: var(--color-text-muted);}
.palette-box .palette.color-text-secondary { background: var(--color-text-secondary);}
.palette-box .palette.color-text-tertiary { background: var(--color-text-tertiary);}
.palette-box .palette.color-text-disabled { background: var(--color-text-disabled);}
.palette-box .palette.color-text-placeholder { background: var(--color-text-placeholder);}

