[class*="btn-"] { cursor: pointer;}
/*버튼_top기본*/
.btn_top{ height: 42px; margin-left: 5px; padding: 0 16px; letter-spacing: -1px; border-radius: 5px; border: 1px solid #d1d1d1; background: #fff; box-sizing: border-box; cursor: pointer; }
.btn_top span{ line-height: 40px; text-align: center; font-size: 14px; color: #404040; font-weight: 500; font-family: 'Spoqa Han Sans Neo', sans-serif;}
.btn_top:hover{ box-shadow: 0 0 7px rgba(0, 0, 0, 0.05), 4px 4px 10px rgba(0, 0, 0, 0.08);}
.btn_top:hover span{ color: var(--primary-600); font-weight: 700;}
.btn_top:active{ box-shadow: 0 0 7px rgba(0, 0, 0, 0.05), 4px 4px 10px rgba(0, 0, 0, 0.08);}
.btn_top:active span{ color: var(--primary-600); font-weight: 700;}
.btn_top:disabled{ background: #f8f8f8;}
.btn_top:disabled > span{ color: #8e8e8e;}
.btn_top:disabled:hover{ box-shadow: none;}
.btn_top:disabled:hover > span{ color: #8e8e8e; font-weight: 500;}
.btn_top:disabled:active{ box-shadow: none;}
.btn_top:disabled:active{ color: #8e8e8e; font-weight: 500;}
.btn_top.btn_onl { margin-bottom: 7px;}
/*버튼_inner기본*/
.btn_inner{ display: inline-block; padding: 9px 16px; border: 1px solid #D1D1D1; border-radius: 3px; background: #fff; box-sizing: border-box; cursor: pointer; }
.btn_inner span{ display: block; line-height: 17px; font-size: 13px; color: var(--primary-600); font-weight: 500; }
.btn_inner:hover{ border-color: var(--primary-600);}
.btn_inner:focus { border: 1px solid #555555;}
.btn_inner:focus span { color: #404040;}
.btn_inner:disabled { border: 1px solid #D1D1D1; background: #F8F8F8;}
.btn_inner:disabled span { color: #8E8E8E;}
a.btn_inner{ display: inline-block; }
/*버튼_inner_삭제*/
.btn_inner_del{ height: 27px; min-width: 56px!important; line-height: 27px; font-size: 13px; padding: 0; }
/*버튼_테이블*/
.btn_input{ display: inline-block; padding: 7px 12px; border: 1px solid var(--primary-100); border-radius: 3px; background: var(--primary-100); font-size: 13px; font-weight: 500; color: var(--primary-600); line-height: 17px; text-decoration: none; cursor: pointer;}
.btn_input:hover{ border: 1px solid #D1D1D1; background: #ffffff;}
a.btn_input{ display: inline-block; }
.btn_input:disabled { border: 1px solid #DDDDDD; background: #F8F8F8; color: #8E8E8E; cursor: auto;}
.k-grid .k-grid-content table tr td a.btn_input { color: var(--primary-600);}
/*버튼_bot기본*/
.btn_bot{ min-width: 78px; height: 39px; margin-left: 5px; padding: 0 10px; border-radius: 5px; border: 1px solid #d1d1d1; background: #fff; box-sizing: border-box; cursor: pointer;}
.btn_bot span{ line-height: 38px; text-align: center; font-size: 14px; color: #404040; font-weight: 500; font-family: 'Spoqa Han Sans Neo', sans-serif;}
.btn_bot:hover{ border: none; box-shadow: none; background: #7a7ee8;}
.btn_bot:hover span{ color: #fff; font-weight: 700;}
.btn_bot:focus{ border: 1px solid #555555; box-shadow: none; background: #ffffff;}
.btn_bot:focus span{ color: #404040; font-weight: 500;}
.btn_bot:active{ border: none; box-shadow: none; background: #7a7ee8;}
.btn_bot:active span{ color: #fff; font-weight: 700;}
.btn_bot:disabled{ background: #f8f8f8;}
.btn_bot:disabled span{ color: #8e8e8e;}
.btn_bot:disabled:hover{ background: #f8f8f8;}
.btn_bot:disabled:hover span{ color: #8e8e8e; font-weight: 500;}
.btn_bot:disabled:active{ background: #f8f8f8;}
.btn_bot:disabled:active span{ color: #8e8e8e; font-weight: 500;}
a.btn_bot{ display: inline-block; line-height: 44px; }

.btn-default { min-width: 74px; height: 38px; padding: 0 16px; border: 1px solid var(--btn-line); border-radius: 4px; background: #FFFFFF;}
.btn-default:hover,
.btn-default:active { background: #FFFFFF; font-weight: 700; color: var(--primary-600);}
.btn-default:focus,
.btn-default:active:focus { border: 1px solid #555555; background: #FFFFFF;}
.btn-default:not(:disabled):hover, .btn-default:active { background: #FFFFFF; font-weight: 700; color: var(--primary-600);}

.btn-default.btn-point { border: 1px solid var(--primary-700); background: var(--primary-700); color: #FFFFFF;}
.btn-default.btn-point:hover,
.btn-default.btn-point:active { font-weight: 500;}
.btn-default.btn-point:focus { border: 1px solid var(--primary-700); background: #FFFFFF; color: var(--primary-700);}
.btn-default.btn-point:active { border: 1px solid var(--primary-700); background: var(--primary-700); color: #FFFFFF;}
.btn-point:active,
.btn-point:not(:disabled):hover { border: 1px solid var(--primary-700); background: var(--primary-700); color: #FFFFFF;}

/*버튼_검색*/
.btn_search{ width: 42px; height: 42px; margin-left: 5px; padding: 0; border-radius: 4px; border: 1px solid var(--white-600);  background: #fff;}
.btn_search-small{ width: 39px; height: 39px; margin-left: 5px; padding: 0; border-radius: 4px; border: 1px solid var(--white-600);  background: #fff;}
.btn_search:hover{ border: 1px solid #7A7EE8; background: #FFFFFF;}
.btn_search:hover .icon-search { background-position: -77px -22px;}
.btn_search:disabled { border: 1px solid var(--btn-line); background: #F8F8F8;}
.btn_search:disabled .icon-search { background-position: -130px -22px;}
.btn_search:focus { border: 1px solid #555555; background: #FFFFFF;}
.btn_search:focus .icon-search { background-position: -20px -22px;}

.icon-search { width: 20px; height: 20px; background: url(../../assets/images/runway/admin/icon_search.png) no-repeat -20px -22px;}

/* 팝업 버튼 */
.popup-foot { display: flex; justify-content: flex-end; gap: 7px; position: relative; left: 0; right: 0; bottom: 0; width: 100%; padding: 15px 30px; border-top: 1px solid #E8E8E8; border-radius: 0 0 10px 10px; background: #FCFCFC; text-align: right; box-sizing: border-box;}
.popup-foot.flex-between { justify-content: space-between;}
.btn-box-wrap { display: flex; gap: 7px;}
.popup-btn { display: inline-block; min-width:  auto; height: auto; margin-left: 7px; padding: 8.5px 24px; border: 1px solid var(--primary-400); border-radius: 4px; background: var(--primary-400); font-size: 13px; font-weight: 500; color: #FFFFFF; cursor: pointer;}
.popup-btn:hover { color: #ffffff;}
.popup-btn.btn-default { min-width: auto; height: auto; padding: 8.5px 24px; border: 1px solid #E8E8E8; background: #FFFFFF; font-size: 13px; font-weight: 500; color: #404040;}
.popup-btn.btn-default:hover,
.popup-btn.btn-default:active { border: 1px solid #D1D1D1; background: #FFFFFF; font-weight: bold; color: var(--primary-600);}

