@import url("../rootAdmin.css");
@import url("../commonAdmin.css");
@import url("../admin.css");

.icon-search { width: 20px; height: 20px; background: url(../../assets/images/runway/admin/icon_search.png) no-repeat -20px -22px;}

/****** Podosoftware CSS ******/
/*
*--------------------------------------------*
|                   Button                   |
*--------------------------------------------*
*/
/*버튼_top기본*/
[class*="btn_"] { display: inline-flex; justify-content: center; align-items: center; gap: 5px; border-radius: 5px; font-size: 14px; font-weight: 500; box-sizing: border-box; cursor: pointer;}
[class*="btn_"]:disabled,
[class*="btn_"]:disabled:hover { border: 1px solid var(--white-600); background: #f8f8f8; color: #8e8e8e; font-weight: 500; cursor: default;}
[class*="btn_"]:focus { border-color: var(--text-gray); color: var(--text-gray);}
[class*="btn-"] { font-size: 14px; font-weight: 500;}

/*2020 포도나무 관리자페이지 버튼*/
/*버튼_top기본*/
.btn_top{ height: 42px; margin-left: 5px; padding: 0 16px; letter-spacing: -1px; border-radius: 5px; border: 1px solid #d1d1d1; background: #fff; box-sizing: border-box; cursor: pointer; }
.btn_top span{ line-height: 40px; text-align: center; font-size: 14px; color: #404040; font-weight: 500; font-family: 'Spoqa Han Sans Neo', sans-serif;}
.btn_top:hover{ box-shadow: 0 0 7px rgba(0, 0, 0, 0.05), 4px 4px 10px rgba(0, 0, 0, 0.08);}
.btn_top:hover span{ color: var(--primary-600); font-weight: 700;}
.btn_top:active{ box-shadow: 0 0 7px rgba(0, 0, 0, 0.05), 4px 4px 10px rgba(0, 0, 0, 0.08);}
.btn_top:active span{ color: var(--primary-600); font-weight: 700;}
.btn_top:disabled{ background: #f8f8f8;}
.btn_top:disabled > span{ color: #8e8e8e;}
.btn_top:disabled:hover{ box-shadow: none;}
.btn_top:disabled:hover > span{ color: #8e8e8e; font-weight: 500;}
.btn_top:disabled:active{ box-shadow: none;}
.btn_top:disabled:active{ color: #8e8e8e; font-weight: 500;}
.btn_top.btn_onl { margin-bottom: 7px;}
/*버튼_inner기본*/
.btn_inner{ flex-shrink: 0; display: inline-block; padding: 9px 16px; border: 1px solid #D1D1D1; border-radius: 3px; background: #fff; box-sizing: border-box; cursor: pointer; }
.btn_inner span{ display: block; line-height: 17px; font-size: 13px; color: var(--primary-600); font-weight: 500; }
.btn_inner:hover{ border-color: var(--primary-600);}
.btn_inner:focus { border: 1px solid #555555;}
.btn_inner:focus span { color: #404040;}
.btn_inner:disabled { border: 1px solid #D1D1D1; background: #F8F8F8;}
.btn_inner:disabled span { color: #8E8E8E;}
a.btn_inner{ display: inline-block; }
/*버튼_inner_삭제*/
.btn_inner_del{ height: 27px; min-width: 56px!important; line-height: 27px; font-size: 13px; padding: 0; }
/*버튼_테이블*/
.btn_input{ display: inline-block; padding: 7px 12px; border: 1px solid var(--primary-100); border-radius: 3px; background: var(--primary-100); font-size: 13px; font-weight: 500; color: var(--primary-600); line-height: 17px; text-decoration: none; cursor: pointer;}
.btn_input:hover{ border: 1px solid #D1D1D1; background: #ffffff;}
a.btn_input{ display: inline-block; }
.btn_input:disabled { border: 1px solid #DDDDDD; background: #F8F8F8; color: #8E8E8E; cursor: auto;}
.k-grid .k-grid-content table tr td a.btn_input { color: var(--primary-600);}
/*버튼_bot기본*/
.btn_bot{ min-width: 78px; height: 39px; margin-left: 5px; padding: 0 10px; border-radius: 5px; border: 1px solid #d1d1d1; background: #fff; box-sizing: border-box; cursor: pointer;}
.btn_bot span{ line-height: 38px; text-align: center; font-size: 14px; color: #404040; font-weight: 500; font-family: 'Spoqa Han Sans Neo', sans-serif;}
.btn_bot:hover{ border: none; box-shadow: none; background: #7a7ee8;}
.btn_bot:hover span{ color: #fff; font-weight: 700;}
.btn_bot:focus{ border: 1px solid #555555; box-shadow: none; background: #ffffff;}
.btn_bot:focus span{ color: #404040; font-weight: 500;}
.btn_bot:active{ border: none; box-shadow: none; background: #7a7ee8;}
.btn_bot:active span{ color: #fff; font-weight: 700;}
.btn_bot:disabled{ background: #f8f8f8;}
.btn_bot:disabled span{ color: #8e8e8e;}
.btn_bot:disabled:hover{ background: #f8f8f8;}
.btn_bot:disabled:hover span{ color: #8e8e8e; font-weight: 500;}
.btn_bot:disabled:active{ background: #f8f8f8;}
.btn_bot:disabled:active span{ color: #8e8e8e; font-weight: 500;}
a.btn_bot{ display: inline-block; line-height: 44px; }

.btn-default { min-width: 74px; height: 38px; padding: 0 16px; border: 1px solid var(--btn-line); border-radius: 4px; background: #FFFFFF;}
.btn-default:hover,
.btn-default:active { background: #FFFFFF; font-weight: 700; color: var(--primary-600);}
.btn-default:focus,
.btn-default:active:focus { border: 1px solid #555555; background: #FFFFFF;}
.btn-default:not(:disabled):hover, .btn-default:active { background: #FFFFFF; font-weight: 700; color: var(--primary-600);}

.btn-default.btn-point { border: 1px solid var(--primary-700); background: var(--primary-700); color: #FFFFFF;}
.btn-default.btn-point:hover,
.btn-default.btn-point:active { font-weight: 500;}
.btn-default.btn-point:focus { border: 1px solid var(--primary-700); background: #FFFFFF; color: var(--primary-700);}
.btn-default.btn-point:active { border: 1px solid var(--primary-700); background: var(--primary-700); color: #FFFFFF;}
.btn-point:active,
.btn-point:not(:disabled):hover { border: 1px solid var(--primary-700); background: var(--primary-700); color: #FFFFFF;}

/*버튼_검색*/
.btn_search{ width: 42px; height: 42px; margin-left: 5px; padding: 0; border-radius: 4px; border: 1px solid var(--white-600);  background: #fff;}
.btn_search-small{ width: 39px; height: 39px; margin-left: 5px; padding: 0; border-radius: 4px; border: 1px solid var(--white-600);  background: #fff;}
.btn_search:hover{ border: 1px solid #7A7EE8; background: #FFFFFF;}
.btn_search:hover .icon-search { background-position: -77px -22px;}
.btn_search:disabled { border: 1px solid var(--btn-line); background: #F8F8F8;}
.btn_search:disabled .icon-search { background-position: -130px -22px;}
.btn_search:focus { border: 1px solid #555555; background: #FFFFFF;}
.btn_search:focus .icon-search { background-position: -20px -22px;}

/*버튼_일괄삭제*/
.all_del{ height: 43px; margin-left: 5px; padding-left: 50px; border-radius: 22px; border: 1px solid #5960b9; background: url(/images/runway/admin_del.png) no-repeat 22px 50% #fff; }
.all_del span{ color: #5960b9; }
.all_del:hover{ background: url(/images/runway/admin_del_on.png) no-repeat 22px 50% #5960b9; box-shadow: 3px 3px 3px rgba(0,0,0,0.15); }
.all_del:hover span{ color: #fff; }

/*버튼_하단저장버튼*/
.btn_save{ min-width: 96px; height: 44px; margin-left: 7px; padding: 0 22px; letter-spacing: -1px; border-radius: 22px; border: 1px solid #d4564a; background: transparent; box-sizing: border-box; }
.btn_save span{ font-size: 14px; color: #d4564a; font-weight: 500; }
.btn_save:hover{ background: #ee6e61; }
.btn_save:hover span{ color: #fff; }
/*버튼_검색결과 전체 추가(대상자관리)*/
.btn_sch_all{ margin-right: 5px; padding: 15px 16px; border-radius: 4px; border: 1px solid #404040; background: #ffffff; box-sizing: border-box; }
.btn_sch_all span{ font-size: 14px; font-weight: 500; color: #404040; line-height: 14px; letter-spacing: -0.04em;}
.btn_sch_all .icon-add { width: 15px; height: 14px; margin-left: 7px; background: url("../../images/runway/admin/icon_add.png") no-repeat 0 0; vertical-align: middle;}
/*버튼_추가(대상자관리)*/
.btn_add{ margin-right: 5px; padding: 15px 16px; border-radius: 4px; border: 1px solid #D1D1D1; background: #FFFFFF; box-sizing: border-box; }
.btn_add span{ font-size: 14px; font-weight: 500; color: #FA7C35; line-height: 14px;}
.btn_add .icon-down { width: 15px; height: 14px; margin-left: 7px; background: url("../../images/runway/admin/icon_add_down.png") no-repeat 0 0; vertical-align: middle;}
/*버튼_삭제(대상자관리)*/
.btn_del{ padding: 15px 16px; border-radius: 4px; border: 1px solid #D1D1D1; background: #ffffff; }
.btn_del span{ font-size: 14px; font-weight: 500; color: var(--primary-600); line-height: 14px; letter-spacing: -0.04em;}
.btn_del .icon-up { width: 15px; height: 14px; margin-left: 7px; background: url("../../images/runway/admin/icon_add_up.png") no-repeat 0 0; vertical-align: middle;}
/*팝업하단버튼*/
/* .k-window-content .op_detail_btn { width: auto; border: none; display: table; margin: 0 auto; position: unset; } */
.pop_btn_wrap{ display: table; width: auto; margin: 20px auto 10px; }
.pop_btn_wrap button{ margin-top: -5px; }
/*교육제도 더보기*/
.edss_more{ display: inline-block; height: 42px; vertical-align: middle;}
.btn_edss_more{ display: inline-block; width: 42px; height: 42px; border-radius: 4.25px; border: 1.0625px solid #D1D1D1; background: url("../../images/runway/admin/icon_more.png") no-repeat no-repeat 50% 50% #fff; box-sizing: border-box; cursor: pointer; }
.edss_page_wrap{ display: none; width: 293px; border-radius: 6px; border: 1px solid #E8E8E8; background: #fff; box-shadow: 0 0 7px rgba(0, 0, 0, 0.05), 4px 4px 10px rgba(0, 0, 0, 0.08); box-sizing: border-box; position: absolute; top: 72px; right: -20px; z-index: 100; letter-spacing: -0.02em;}
.edss_page_wrap.open { display: block;}
.edss_page_wrap > span{ position: absolute; top: -17px; right: 35px;}
.edss_page_wrap .edss_more_box { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-items: center;}
.edss_more_box .btn_inner { display: inline-block; margin: 15px 9px 6px 0; padding: 0 10px 2px; border: 1px solid var(--primary-100); border-radius: 4px; background: var(--primary-100); font-size: 12px; font-weight: 500; color: var(--primary-600); line-height: 25px;}
.edss_more_box .btn_inner:hover,
.edss_more_box .btn_inner:active { border: 1px solid #D1D1D1; background: #FFFFFF; color: var(--primary-600);}
.edss_more_box .btn_inner:focus { border: 1px solid #D1D1D1; background: #FFFFFF; color: #404040;}
.edss_page_wrap p{ display: inline-block; padding: 15px; line-height: 25px; text-align: left; font-size: 15px; color: #0D0914; font-weight: 500;}
.edss_page_wrap ul{ width: 100%; height: 100px; }
.edss_page_wrap ul > li{ float: left; width :50%; height: 50px; margin: 0; border-top: 1px solid #e3e3e3; background: #ffffff; box-sizing: border-box; }
.edss_page_wrap ul > li > a{ display: flex; justify-content: space-between; align-items: baseline; width: 100%; height: 100%; padding-left: 15px; padding-right: 19px; line-height: 46px; text-align: left; font-size: 14px; color: #404040; cursor: pointer; letter-spacing: -0.02em;}
.edss_page_wrap ul > li:nth-child(2n){ border-left: 1px solid var(--white-500); }
/*.edss_page_wrap ul > li:hover{ background-image: url(/images/renewal/admin/btn_edss_arrow_on.png); background-color: #5960b9; }*/
.edss_page_wrap ul > li:hover a,
.edss_page_wrap ul > li.active a { font-weight: 500; color: #0D0914; text-decoration: underline;}

.btn_close_detail{ display: inline-block; width: 33px; height: 33px; border:0; background: url(/images/runway/admin/btn_close_detail.png) no-repeat 50% 50% #fff; cursor: pointer; box-sizing: border-box; position: absolute; top: 10px; right: 10px; }

/*Detail*/
.op_detail_btn{ display: flex; justify-content: flex-end; width: 100%; height: 44px; margin-top: 10px; text-align: right; box-sizing: border-box; }
.op_position{ position: absolute; bottom: -1px; right: -1px; width: 100.1%; padding-right: 1px;}
.op_explorer{ height: 54px; margin-top: 0px; padding-top: 10px; background: #f7f7f7; }

.op_btn_st1{ display: inline-block; padding: 7px 12px; border: 1px solid var(--primary-100); background:var(--primary-100); font-size: 13px; font-weight: 500; color: var(--primary-600); line-height: 17px; border-radius: 3px; cursor:pointer}
.op_btn_st1:hover,
.op_btn_st1:active { border: 1px solid #D1D1D1; background: #FFFFFF; color: var(--primary-600);}
.op_btn_st1:focus { border: 1px solid #D1D1D1; background: #FFFFFF; color: #404040;}
.op_btn_st2{height:28px;color:#fff;border-radius:0;border:none;cursor:pointer;display:inline-block;padding:0 10px;margin:0 2px}
.op_btn_st2.st_navy{background:#fff; border: 1px solid #676872; color: #676872; }
.op_btn_st2.st_red{background:#fff; border: 1px solid #676872; color: #676872;}
.pop_btn_wrap .ptree_btn.pt_orange { border: 1px solid #7A7EE8; border-radius: 4px; background: #7A7EE8;}
.pop_btn_wrap .ptree_btn.pt_orange span { border: 0; color: #ffffff;}
.pop_btn_wrap .ptree_btn.pt_orange:hover { background: #7A7EE8; color: #ffffff;}
.pop_btn_wrap .ptree_btn.pt_orange:hover span { color: #ffffff;}

.table_btn ul li{ text-align: right; }
.table_btn2{ display: inline-block; width: 100%; margin: 10px 0; padding-right: 40px; }
.table_btn2 ul li{ text-align: right; }
/*탭안에있는 버튼wrap*/
.btn_inner_wrap{ display: inline-block; width: 100%; margin: 10px auto; }
.btn_inner_wrap .btn_inner{ float: right; }

/* 버튼(리스트) */
.btnBox-wrap { display: flex; justify-content: flex-end;}
.btnBox-wrap .btn-list { margin-left: 7px;}
.btn-list{ display: inline-flex; align-items: center; width: auto; height: 48px; padding: 0 30px; text-align: center; border-radius: 5px; border: 1px solid var(--white-500); background: var(--white); box-sizing: border-box; cursor: pointer;}
.btn-list > span{ line-height: 46px; text-align: center; font-size: 14px; color: var(--black-660);}
.btn-list.btn-point{ border: 1px solid var(--primary-500); background: var(--primary-500);}
.btn-list.btn-point > span{ color: #fff;}
.btn-list.btn-point2{ border: 1px solid var(--primary-700); background: var(--primary-700);}
.btn-list.btn-point2 > span{ font-weight: 700; color: #fff;}
.btn-list:hover{ border: 1px solid var(--primary-700); background: var(--primary-700);}
.btn-list:hover > span{ color: var(--white); font-weight: 700;}
.btn-list:focus{ border: 1px solid var(--white-600); background: var(--white);}
.btn-list:focus > span{ color: var(--black-660); font-weight: 500;}
.btn-list:disabled,
.btn-disabled { border: 1px solid var(--white-600); background: var(--white-400); cursor: auto;}
.btn-list:disabled > span,
.btn-disabled > span { color: var(--gray-200);}

.cont_body-top2 .btnBox-wrap { justify-content: right;}
.btnBox-wrap li { display: inline-block; margin-left: 7px;}
.btn_chg { display: inline-block; width: 29px; height: 30px; margin: 0 20px; border: 0; background: url("../../images/runway/admin/icon_next_step.png") no-repeat 0 0; box-sizing: border-box;}

.table-company .op_btn_st1{ margin-top: 10px;}

.btn-box{ padding: 5px 0;}
.ptree_btn.pt_red:hover,
.ptree_btn.pt_red:focus,
.ptree_btn.pt_red:active{ border: 1px solid #5d5e67; color: #fff; background: #676872; }
